@import '../common/variables.module.css';

.Container {
    box-sizing: border-box;
    color: var(--primary-color);
    text-align: center;    
    height: 125vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
    background-image: url('../images/topography.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid orange;
} 

.Bones {
    /*fill: blue;*/
}

.Eye {
    fill: #666;
}