.Container {
    box-sizing: border-box;
    color: blue;
    border-color: 2px solid green;
    width: 100%;
    background-color: black;
    margin:0;
    padding:0;
    
    
}

.Background-Image {
    height: 100%;
}